:root {
    --bg-sel-col: #228b3a;
}

::selection {
    background: var(--bg-sel-col);
    color: white;
}

::-moz-selection {
    background: var(--bg-sel-col);
    color: white;
}

#result {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}

#lastCall {
    font-size: 2.1rem;
    margin-top: 1.3rem;
}

#valueBtc, #czkToDollar {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.explanation {
    font-size: 0.9rem;
}

.author {
    font-size: 1.1rem;
}

hr {
    border: 1px solid white;
    float: center;
    width: 3%;
}